.buttons {
    width: 50%;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-self: center;

}

.calculator {
    display: grid;
}

.display {
    
    place-self: center;
    font-size: 50px;
    margin-bottom: 15px;
    padding: 5px;
}

button {
    border-radius: 15%;
    font-size: 50px;
    /* background-color:slategray; */
    color:black;
    background-color:steelblue; 
    margin: 5px;
    border: 1px solid steelblue;
    font-family: "Chivo Mono", serif;
    
}

button:hover {
    cursor: pointer;
   /* background-color: lightslategray; */
   background-color: lightsteelblue;
}

h1 {
    text-align: center;
    border-bottom: 5px double black;
    width: 50%;
    margin: auto;
    font-size: 50px;
}

body {
    font-family: "Chivo Mono", serif;

}

h2 {
    text-align: center;
}

.extra-credit-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}